<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <%- include("./partials/head.ejs") %>
</head>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <i class="fas fa-desktop"></i>
      </div>
      <div class="card-body">
        <h7 class="cardtitle">This application is a simple blog app that features all functions of CRUD. Which are the Create, Read, Update, and Delete respectively, features that all applications must have.</h7>
        <div class="service-border"></div>
      </div>
    </div>
  </div>

</body>
<%- include("./partials/footer.ejs") %> 
</html>