<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

<p class="lead mb-3">Welcome <%= user.name %></p>


<section class="services bg-sec r-p " id="services">
  <div class="container text-center">
    <div class="row">
      <div class="col mb-5 way-fade-right ">
        <div class="col">
          <h2>My Services</h2>
        </div>
      </div>
    </div>
    <!-- cards -->
    <div class="row text-center way-fade-up">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <i class="fab fa-apple"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="/all">All Blogs</a></h5>
            <div class="service-border"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <i class="fab fa-opencart"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="/articles/new">New Issue</a></h5>
            <div class="service-border"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-desktop"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="/about">About</a></h5>
            <div class="service-border"></div>
          </div>
        </div>
      </div>
    </div>
    


  </div>


</section>
<div class="my-5">
</div>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<%- include("./partials/footer.ejs") %>

</body>

</html>
